#scrolling{
    background-color: rgb(138, 43, 226);
    border: double;
    width: 400px;
    height: 200px;
    overflow-y: scroll;
    border-radius: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
    margin: auto;
}
#shadow_color{
    background-color: rgb(127, 255, 0);
    padding-left: 10px;
    width: 400px;
    border-radius: 0px 0px 0px 25px;
    box-shadow: 15px -6px 20px 15px rgba(128, 128, 128 , 0.2);
    outline: rgb(0, 0, 0) double 10px;
}

button{
    border-radius: 20px;
    transition-duration: 3s;
    width: 100px;
    margin: 40px;
    color: rgb(255, 0, 0);
    background: linear-gradient(45deg, rgb(63, 224, 187), rgb(38, 138, 141));
   
}
button:hover{
    background: linear-gradient(45deg, rgb(111, 147, 143), rgb(65, 207, 173));
    color: rgb(245, 245, 245);
    transform: rotate(360deg);
}
img{
    width: 400px;
    transition-duration: 3s;
    border-radius: 20px;
    position: absolute;
    left: 40px;
}
img:hover{
    transform: scale(1.1);
    box-shadow: 5px 4px 13px 14px rgba(0, 0, 0, 0.2);
}