ul{
    display: flex;
    margin: auto;
    width: 350px;
    background-color: whitesmoke;
    border-radius: 20px;
}
li{
    margin: 10px;
    list-style-type: none;
}
a{
    position: relative;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    transform: translateX(-30px);
}
li{
    position: relative;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
li:hover{
    transform: translateY(-30px);
}