header{
    margin: auto;
    width: 1480px;
    height: 750px;
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header_content{
    margin: auto;
    width: 70%;
    height: 109px;
    display: flex;
    align-items: center;
    
}
.content{
    display: flex;
    margin: auto;
    width: auto;
    font-size: smaller;
}
.contacts_header{
    font-size: smaller;
}
li{
    margin: 10px;
    display: flex;
}
.lable , .lable_blue{
    position: relative;
    left: 1px;
    font-size: xx-large;
}
.header_block{
    border-bottom: solid rgb(255, 255, 255) 1px;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a , p , h1 , h2{
    font-family: Montsserat;
}
p{
    font-size: smaller;
}
a:hover{
    color: rgba(255, 255, 255 , 0.7);
}
.lable{
    color: rgb(0, 0, 255);
}
.lable:hover{
    color: rgba(0, 0, 255 , 0.3);
}
body{
    margin: 0px;
}
@font-face {
    font-family: Montsserat;
    src: url(../Montserrat-Regular.ttf);
}
main{
    margin: auto;
    margin-top: 0px;
    width: 1480px;
    height: 500px;
    
}
.background1{
    margin-top: -1.44%;
    width: 60%;
    height: 780px;
    background: rgba(128, 128, 128, 0.2);
}
img.main_img{
position: relative;
left: 91%;
top: 15%;
z-index: 1;
}
.main_block_text{
    word-spacing: 10px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    width: 428px;
    height: 200px;
    left: 26.5%;
    top: -32%;
}
.main_text{
    overflow: hidden;
    margin: auto;
    width: 80%;
    height: 70%;
}
.main_content_container1{
    margin: auto;
    margin-top: 0px;
    width: 70%;
    height: 80%;
}
.main_name{
    margin-top: 0px;
    position: relative;
    left: 26.5%;
    top: 30%;
}
.background2{
    position: relative;
    left: 30%;
    bottom: 702px;
    margin: auto;
    width: 40%;
    height: 780px;
    background: rgba(128, 128, 128, 0.2);
    z-index: 1;
}
.main_content_container2{
    position: relative;
    top: 20px;
    right: 25px;
    margin: auto;
    width: 57.4%;
    height: 700px;
    
    display: flex;
}
.container1 , .container2 , .container3{
    margin: auto;
    margin-left: 24px;
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 500px;
    
    z-index: 2;
    position: relative;
    top: 10%;
    right: 21%;
}
.data , h3 , .main_text1 {
    position: relative;
    left: 5%;
}
.main_button_in_container1{
    position: relative;
    left: 5%;
    background-color: blue;
    display: inline-block;
    padding: 15px;
}
footer{
    margin: auto;
    position: relative;
    bottom: -1042px;
    width: 1480px;
    height: 150px;
    background-color: #323232;
}
.main_button_in_name2{
    position: relative;
    bottom: 10%;
    left: 395%;
    z-index: 2;
    background-color: blue;
    padding: 15px;
}
.main_name21{
    position: relative;
    left: 10%;
}
.footer_content{
    margin: auto;
    width: 40%;
    height: 100%;
    
}
.footer_links{
    text-align: center;
    display: flex;
    justify-content: center;
}
.footer_text{
    position: relative;
    right: 10%;
    top: 200%;
    font-size: 90%;
}
.footer_text2{
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
    left: 18.5%;
    top: 10%;
    color: rgb(255, 255, 255);
    font-size: 70%;
}

